* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-weight: 700;
    font-size: 70px;
    color: rgb(160, 51, 51);
    text-decoration: none;
}

.header-menu {
    visibility: hidden;
    background-color: rgb(160, 51, 51);
    padding: 5px;
    width: 50px; 
    height: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 5px;
    border: none;
}

.menu-line {
    background-color: aliceblue;
    width: 35px; 
    height: 5px; 
}

.header-nav {
    background-color: rgb(160, 51, 51);
    color: aliceblue;
    text-align: center;
    font-size: 60px;
    width: 100%;
}

.block_main-text, .aside_main-text {
    color: aliceblue;
    text-align: center;
    font-size: 60px;
    width: 100%;
}

.main {
    margin: 15px 0;
}

.block-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.main-block, .aside-block {
    background-color: rgb(160, 51, 51);
}

.main-block {
    width: 60%;
    padding: 300px 0;
}

.aside-block {
    width: 40%;
    padding: 300px 0;
}

.list {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.column-item {
    color: aliceblue;
    font-size: 45px;
    margin: 0;
    text-align: center;
    background-color: rgb(160, 51, 51);
    padding: 40px;
}


@media (max-width: 480px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }
    .wrapper{
        width: 100%;
    }
    .header-menu {
        visibility: visible; 
    }
    .header-nav {
        font-size: 30px;
        width: 100vw;
        padding: 50px 0;
        margin: 0;
    }
    .block_main-text, .aside_main-text {
        font-size: 30px;
    }
    .block-one {
        flex-direction: column;
    }
    .main-block, .aside-block {
        width: 100%;
        padding: 200px 0;
    }
    .list {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .column-item {
        font-size: 30px;
        padding: 40px;
    }
}

/* Tablet  */
@media (min-width: 481px) and (max-width: 1199px) {
    .header-logo {
        font-size: 50px;
    }
    .header-nav {
        font-size: 30px;
        padding: 20px 0;
    }
    .block_main-text, .aside_main-text {
        font-size: 45px;
    }
    .block-one {
        flex-direction: column;
    }
    .main-block, .aside-block {
        width: 100%;
        padding: 200px 0;
    }
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
    .column-item {
        font-size: 36px;
        padding: 60px;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .header-logo {
        font-size: 70px;
    }
    .header-nav {
        font-size: 60px;
        width: 80%;
    }
    .block_main-text, .aside_main-text {
        font-size: 60px;
    }
    .main-block, .aside-block {
        width: 60%;
    }
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
    .column-item {
        font-size: 45px;
        padding: 80px;
    }
}
